---
import { Icon } from 'astro-icon/components';
import type { SKILLS_DATA } from '../lib/skills';

// interface Props {
//     skill: Skill;
// }

const { skill } = Astro.props;

const styles = skill.color 
    ? `color: ${skill.color}; border-color: ${skill.color};` 
    : '';
---

<div
    class="flex items-center gap-2 px-4 py-2 rounded-md border border-medium-gray transition-all hover:bg-light-gray dark:hover:bg-transparent dark:hover:border-brand-teal"
>
    {skill.icon && (
        <Icon name={skill.icon} style={styles} class:list={["w-5 h-5", { 'invert': skill.color === '#000000' || skill.color === '#181717' }]} />
    )}
    <span>{skill.name}</span>
</div>